# Library dependencies for HollowRC 
# To install, run: "pip install -r requirements.txt"

# for the GUI
PySide2==5.11.2

# for math and array functionalities
numpy==1.15.3

# General optimization solver
NLopt==2.4.2

# for building executable
PyInstaller==3.4

# for calling Githib API
requests==2.21.0

# for unit testing
pytest==5.2.0