# Library dependencies for HollowRC 
# To install, run: "pip install -r requirements.txt"

# for the GUI
PySide2==5.13.1

# for math and array functionalities
numpy==1.16.4

# General optimization solver
nlopt==2.6.1

# for building executable
PyInstaller==3.5

# for calling Githib API
requests==2.22.0

# for unit testing
pytest==5.2.0